<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFKWX8ZTP3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YFKWX8ZTP3');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8900847547838424"
    crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Explore the latest NPL STANDINGS with fresh insights at your fingertips. Nepal Premier League 2024"/>
    <meta property="og:title" content="Nepal Premier League 2024 - Current Standings" />
    <meta property="og:description" content="Check out the latest standings from the Nepal Premier League 2024!" />
    <meta property="og:image" content="{{ url_for('static', filename='assets/img/npl-home.png', _external=True) }}" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:type" content="website" />

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon">

    <!-- Google Fonts & Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Overpass|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

    <title>NPL Standings</title>
</head>
<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0&appId=114580615711334"></script>

<!-- Navbar Section -->
<div class="container-fluid nav-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">
            <span class="logo">NPL </span> <span class="blue">STANDINGS</span>
        </a>
        <a href="/" class="navbar-logo">
            <img src="{{ url_for('static', filename='assets/img/npl-home.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.news') }}">NPL NEWS</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.recap2024') }}">NPL 2024 Recap</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about') }}">About Us</a></li>
            </ul>
        </div>
        
    </nav>
</div>
<!-- Main Content -->
{% block content %}
{% endblock %}
<!-- Footer Section -->
<footer>
    <div class="container-fluid footer">
        <p class="text-center footer-text">© <a href="{{ url_for('main.home') }}"><span class="logo"> NPL</span> <span class="blue">STANDINGS</span> </a>By CCI | 
            <a href="{{ url_for('main.terms_of_service') }}">Terms of Service</a> | 
            <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
        </p>
    </div>
</footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
