{% extends 'base.html' %}

{% block content %}
<!-- Standings Section -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body">
                    <h2 class="text-center mb-4 text-secondary">Nepal Premier League 2024 - Current Standings</h2>
                    
                    <!-- Responsive Wrapper -->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Team</th>
                                    <th>Matches</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for standing in standings %}
                                <tr class="table-light">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ standing.team }}</td>
                                    <td>{{ standing.pld }}</td>
                                    <td>{{ standing.w }}</td>
                                    <td>{{ standing.l }}</td>
                                    <td>{{ standing.pts }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hero Section -->
<div class="hero">
    <div class="container text-center">
        <h1>Nepal Premier League 2024</h1>
        <p>Your Ultimate Source for Real-Time Standings. Stay Updated with the Latest Nepal Premier League Standings</p>
        <a href="{{ url_for('main.about') }}" class="btn btn-custom mt-3">Learn More</a>
    </div>
</div>
{% endblock %}
