{% extends 'base.html' %}

{% block content %}
<!-- Standings Section -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class=" shadow-sm border-light rounded">
                    <h2 class="text-center mb-4 text-secondary">Nepal Premier League 2024 - Current Standings</h2>

                    <!-- Responsive Wrapper -->
                    <div id="standingsContainer" class="table-responsive">
                        <table class="table table-hover table-bordered table-striped" id="standingsTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Team</th>
                                    <th>Matches</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for standing in standings %}
                                <tr class="table-light">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ standing.team }}
                                        {% if loop.index <= 4 %}
                                            (Q)
                                        {% elif loop.index > 4 and loop.index <= 8 %}
                                            (E)
                                        {% endif %}
                                    </td>
                                    <td>{{ standing.pld }}</td>
                                    <td>{{ standing.w }}</td>
                                    <td>{{ standing.l }}</td>
                                    <td>{{ standing.pts }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="base">
                    <span class="logo"> (E) Eliminated from play-off race.</span> <br>
                    <span class="blue"> (Q) Advance to Qualifier. </span>
                    </div>
                    <!-- Social Media Share Links -->
                    <div class="share-buttons text-center mt-4">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url_root }}" 
                        target="_blank" class="btn btn-primary">Share on Facebook</a>

                        <a href="https://twitter.com/intent/tweet?url={{ request.url_root }}&text=Nepal%20Premier%20League%20Standings" 
                        target="_blank" class="btn btn-info">Share on Twitter</a>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2>Play-offs</h2>
    <p style="font-style: italic; color: gray;">
        All times are in <span style="color: blue; font-weight: bold;">Nepal Standard Time (UTC+05:45)</span>.
    </p>

    <!-- Image Display -->
    <div class="text-center" style="margin: 20px;">
        <img src="{{ url_for('static', filename='assets/img/playoff.png') }}" 
             alt="Play-offs Bracket" 
             class="img-fluid" 
             style="border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.2);">
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center mb-4">Latest NPL News</h1>
    <div class="row">
        {% for source, title, desc, author, img, p_date, url in articles %}
        <div class="col-12 mb-3">
            <div>
                <a href="{{ url }}" target="_blank" class="text-decoration-none text-white">
                    <h2 class="mb-1"><b>{{ title }}</b></h2>
                </a>
                <p class="mb-1">{{ desc }}</p>
                <p class="mb-0 text-muted"><small>Date Published: {{ p_date }}</small></p>
                <p class="mb-0 text-muted"><small>Author: {{ author }}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Hero Section -->
<div class="hero">
    <div class="container text-center">
        <h1>Nepal Premier League 2024</h1>
        <p>Your Ultimate Source for Real-Time Standings. Stay Updated with the Latest Nepal Premier League Results</p>
        <a href="{{ url_for('main.about') }}" class="btn btn-custom mt-3">Learn More</a>
        <a href="{{ url_for('main.news') }}" class="btn btn-custom mt-3">Latest News</a>
    </div>
</div>

{% endblock %}
