{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Latest News</h1>
    <div class="row">
        {% for source, title, desc, author, img, p_date, url in articles %}
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card mb-3 news-card">
                <!-- News Image -->
                <img src="{{ img }}" class="card-img-top img-fluid" alt="News Image"
                     onerror="this.src='/static/assets/img/npl-home.png';">

                <div class="card-body">
                    <!-- Source -->
                    <p class="source">{{ source.name }}</p>

                    <!-- Title -->
                    <a href="{{ url }}" target="_blank">
                        <h2 class="card-title">{{ title }}</h2>
                    </a>

                    <!-- Description -->
                    <p class="card-text description">{{ desc }}</p>

                    <!-- Author -->
                    <p class="author"><i class="bi bi-person-fill"></i> Author: {{ author }}</p>
                </div>

                <!-- Footer -->
                <div class="card-footer">
                    <p class="published mb-0">
                        <i class="bi bi-calendar-event"></i> Date Published: {{ p_date }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
