{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Privacy Policy</h1>
    <p>Welcome to CCI's Privacy Policy page. This Privacy Policy outlines how CCI collects, uses, protects, and shares information obtained through the use of our website, soralatest.com.</p>

    <h2>1. Information Collection</h2>
    <p>At CCI, we do not require users to create an account or provide personal information to access our website. We do not collect or store any personally identifiable information from our users.</p>

    <h2>2. Third-Party Tools</h2>
    <p>We may use third-party tools, such as GPT (Generative Pre-trained Transformer) models, to provide results and recommendations on our website. These tools may collect and process data to generate responses, but we do not have control over the data collected by third-party tools.</p>

    <h2>3. Accuracy of Information</h2>
    <p>While we strive to provide accurate and reliable information, please note that the results and recommendations provided by our system may not always be accurate or complete. Users should not rely solely on the information provided by our website and should verify any important data independently.</p>

    <h2>4. Restrictions</h2>
    <p>Users are prohibited from building similar applications to CCI or presenting the results provided by our site as authentic data. Our website is intended to assist users in their thinking process and provide fact-based data for informational purposes only.</p>

    <h2>5. Cookies</h2>
    <p>We may use cookies to enhance the user experience and track website usage. Users can control and manage cookies through their browser settings. By using our website, users consent to the use of cookies in accordance with our Cookie Policy.</p>

    <h2>6. Data Security</h2>
    <p>We take reasonable measures to protect the security of information transmitted through our website. However, no method of transmission over the internet or electronic storage is completely secure. Users acknowledge the inherent risks of transmitting information online and agree to do so at their own risk.</p>

    <h2>7. Changes to Privacy Policy</h2>
    <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated Privacy Policy on our website. Users are encouraged to review this Privacy Policy periodically for changes.</p>

    <h2>8. Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy, please contact us at contact@soralatest.com.</p>
</div>
{% endblock %}
