{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Terms of Service</h1>
    <p>Welcome to CCI! These Terms of Service outline the rules and regulations for the use of CCI's Website, located at nplstandings.com.</p>

    <h2>1. Acceptance of Terms</h2>
    <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use CCI if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h2>2. Cookies</h2>
    <p>We employ the use of cookies. By accessing CCI, you agreed to use cookies in agreement with the CCI's Privacy Policy.</p>

    <h2>3. License</h2>
    <p>Unless otherwise stated, CCI and/or its licensors own the intellectual property rights for all material on CCI. All intellectual property rights are reserved. You may access this from CCI for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <h2>4. Content Liability</h2>
    <p>We shall not be hold responsible for any content that appears on CCI. You agree to protect and defend us against all claims that is rising on CCI. No link(s) should appear on any Website that may be interpreted as libelous, obscene, or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third-party rights.</p>

    <h2>5. Reservation of Rights</h2>
    <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

    <h2>6. Branding and Intellectual Property</h2>
    <p>The logo, trademarks, and other intellectual property displayed on this website, including "Logo reserved to CAN Nepal," are the property of CAN Nepal.</p>

    <h2>7. Governing Law & Jurisdiction</h2>
    <p>These Terms will be governed by and interpreted in accordance with the laws of Nepal, and you submit to the non-exclusive jurisdiction of the courts located in Nepal for the resolution of any disputes.</p>

    <h2>8. Third-Party Content</h2>
    <p>We may use third-party tools to display news and related content. We are not responsible for the accuracy, reliability, or legality of third-party content. Any links provided on our platform direct you to the original authors' websites, where all rights are reserved by the respective content creators.</p>

    <h2>9. Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at contact@nplstandings.com.</p>
</div>
{% endblock %}

